<br>

<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-group">
    <%= f.hidden_field :prefecture_id, :value => @prefecture.id %>
      <table>
        <tr>
          <td><%= f.text_field :content, class: 'form-control', size:50, maxlength: "20", :placeholder => "〇〇が美味しい・〇〇が綺麗etc...（２０字以内）" %></td>
          <td><%= f.submit '投稿', class: 'btn btn-primary' %></td>
        <tr>
      </table>
  </div>
<% end %>

<div class="list-unstyled">
    <% @posts.each do |post| %>
        <table class="table table-striped">
          <tr>
            <th class="text-left">
              <%= post.user.name %>
            </th>
            <th class="text-right">
            </th>
          </tr>
          <tr>
            <td class="text-left">
              <%= post.content %>
            </td>
            <td class="text-right">
              <% if current_user == post.user %>
                <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" }, class: 'btn-sm btn-danger' %>
              <% end %>
            </td>
          </tr>
        </table>
   <% end %>
</div>

<%= paginate posts %>